html, body {
    margin: 0;
}

header {
    background-color: #F55A5A;
    height: 60px;
    display: flex;
    justify-content: center;
    font-size: 23px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 5px;
}

header > img {
    height: 30px;
    width: auto;
    margin-top: 15px;
}

header > span {
    color: white;
    width: auto;
    margin-top: 15px;
}