* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #282D35;
}

nav {
    display: flex;
    align-items: center;
    border: black solid 1px;
    background-color: #21222A;
    padding: 10px 0;
    
}

span {
    color: #61DAFB;
    font-weight: bold;
    
}

.logo {
    width: 30px;
    margin: 10px;
}

