* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #282D35;
    font-family: Inter, sans-serif;
    color: white;
}

header {
    height: 90px;
    background-color: #21222A;
    padding: 20px 0;
}


nav {
    display: flex;
    align-items: center;
    height: 100%;
    
}

span {
    color: #61DAFB;
    font-weight: 700;
    font-size: 1.4rem;
}

.logo {
    width: 40px;
    margin-left: 20px;
    margin-right: 10px;
}

main {
    padding: 60px 30px;
    background-image: url("../reactjs-icon 2.png");
    background-repeat: no-repeat;
    background-position: right 70%;
}

main > h1 {
    margin: 0;
    font-size: 2.4rem;
}

ul {
    margin-top: 46px;

}

li {
    padding-block: 10px;
    line-height: 19px;
}

li::marker {
    color: #61DAFB;
    font-size: 1.5rem;
}
